ttcal>=1.0.2
six==1.12.0
future==0.17.1
pytest==3.9.3
pytest-cov==2.6.1
pytest-forked==1.0.2
pytest-mock==1.10.1
pytest-xdist==1.26.1
pytest-django==3.4.8

coverage==4.5.3
more-itertools<6.0.0

Django==1.7.11

-e .
codecov


# apipkg==1.5
# atomicwrites==1.3.0
# attrs==19.1.0
# certifi==2019.3.9
# chardet==3.0.4
# codecov==2.0.15
# colorama==0.4.1
# execnet==1.5.0
# idna==2.8
# pluggy==0.9.0
# py==1.8.0
# requests==2.21.0
# urllib3==1.24.1
# 

