{% load staticfiles %}

<!-- publicPath: ../../static/dkjs/js/ -->
<!-- chunks:      -->
<!-- manifest:      -->

<link rel="stylesheet" href="https://static.datakortet.no/font/fa470/css/font-awesome.css">

<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.js?features=fetch,es5,es6,es7,Object.entries,Object.fromEntries,Element.prototype.append,DocumentFragment.prototype.append,DocumentFragment.prototype.prepend&flags=gated"></script>
<script crossorigin="anonymous" src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.6/webcomponents-bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>


    
    <script DEBUG LOGLEVEL="3" crossorigin="anonymous" src="{% static "dkjs/js/dk.min.js" %}"></script>
{#    <script DEBUG LOGLEVEL="3" crossorigin="anonymous" src="{% static "dkjs/js/dk.min.js?_=1556623706019" %}"></script>#}
    


