{% load staticfiles %}


<link rel="stylesheet" href="https://static.datakortet.no/font/fa470/css/font-awesome.css">

<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.js?features=fetch,es5,es6,es7,Object.entries,Object.fromEntries,Element.prototype.append,DocumentFragment.prototype.append,DocumentFragment.prototype.prepend&flags=gated"></script>
<script crossorigin="anonymous" src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.6/webcomponents-bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>


    
{% if debug %}
    <script DEBUG LOGLEVEL="4" src="{% static "dkdj/js/dkdj.min.js" %}?_=3.0.0"></script>
{% else %}
    <script DEBUG LOGLEVEL="3" src="{% static "dkdj/js/dkdj.f064263b7ade3a60336a.min.js" %}"></script>
{% endif %}
    


