@import "scrollbar-mixin";
@import "utils";
@import "variables";

dk-panel { xoutline: 10px dashed green;  }
dk-panel  .panel-body > p:last-child { margin-bottom: 0; }

//$gray-base:              #000;
//$gray-darker:            lighten($gray-base, 13.5%); // #222
//$gray-dark:              lighten($gray-base, 20%);   // #333
//$gray:                   lighten($gray-base, 33.5%); // #555
//$gray-light:             lighten($gray-base, 46.7%); // #777
//$gray-lighter:           lighten($gray-base, 93.5%); // #eee
//
//$brand-primary:         darken(#428bca, 6.5%); // #337ab7
//$brand-success:         #5cb85c;
//$brand-info:            #5bc0de;
//$brand-warning:         #f0ad4e;
//$brand-danger:          #d9534f;
//
//
////== Form states and alerts
////
////## Define colors for form feedback states and, by default, alerts.
//
//$state-success-text:             #3c763d;
//$state-success-bg:               #dff0d8;
//$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);
//
//$state-info-text:                #31708f;
//$state-info-bg:                  #d9edf7;
//$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);
//
//$state-warning-text:             #8a6d3b;
//$state-warning-bg:               #fcf8e3;
//$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);
//
//$state-danger-text:              #a94442;
//$state-danger-bg:                #f2dede;
//$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);
//
//
//
//$border-radius-base:        4px;
//$border-radius-large:       6px;
//$border-radius-small:       3px;
//

@mixin clearfix(){
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

//== Panels
//
//##

$panel-bg:                    #fff;
$panel-body-padding:          15px;
$panel-heading-padding:       10px 15px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

//** Border color for elements within panels
$panel-inner-border:          #ddd;
$panel-footer-bg:             #f5f5f5;

$panel-default-text:          $gray-dark;
$panel-default-border:        #ddd;
$panel-default-heading-bg:    #f5f5f5;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;

//
// Panels
// --------------------------------------------------


// Base class
.panel {
    margin-bottom: $line-height-computed;
    background-color: $panel-bg;
    border: 1px solid transparent;
    border-radius: $panel-border-radius;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

// Panel contents
.panel-body {
    padding: $panel-body-padding;
    @include clearfix;
}

// Optional heading
.panel-heading {
    padding: $panel-heading-padding;
    border-bottom: 1px solid transparent;
    border-top-left-radius: ($panel-border-radius - 1);
    border-top-right-radius: ($panel-border-radius - 1);

    > .dropdown .dropdown-toggle {
        color: inherit;
    }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: ceil(($font-size-base * 1.125));
    color: inherit;

    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
        color: inherit;
    }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
    padding: $panel-footer-padding;
    background-color: $panel-footer-bg;
    border-top: 1px solid $panel-inner-border;
    border-bottom-left-radius: ($panel-border-radius - 1);
    border-bottom-right-radius: ($panel-border-radius - 1);
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

dk-panel {
    > .list-group,
    > .panel-collapse > .list-group {
        margin-bottom: 0;

        .list-group-item {
            border-width: 1px 0;
            border-radius: 0;
        }

        // Add border top radius for first one
        &:first-child {
            .list-group-item:first-child {
                border-top: 0;
                border-top-left-radius: ($panel-border-radius - 1);
                border-top-right-radius: ($panel-border-radius - 1);
            }
        }

        // Add border bottom radius for last one
        &:last-child {
            .list-group-item:last-child {
                border-bottom: 0;
                border-bottom-left-radius: ($panel-border-radius - 1);
                border-bottom-right-radius: ($panel-border-radius - 1);
            }
        }
    }
    > .panel-heading + .panel-collapse > .list-group {
        .list-group-item:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
    .list-group-item:first-child {
        border-top-width: 0;
    }
}
.list-group + .panel-footer {
    border-top-width: 0;
}

// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

dk-panel {
    > .table,
    > .table-responsive > .table,
    > .panel-collapse > .table {
        margin-bottom: 0;

        caption {
            padding-left: $panel-body-padding;
            padding-right: $panel-body-padding;
        }
    }
    // Add border top radius for first one
    > .table:first-child,
    > .table-responsive:first-child > .table:first-child {
        border-top-left-radius: ($panel-border-radius - 1);
        border-top-right-radius: ($panel-border-radius - 1);

        > thead:first-child,
        > tbody:first-child {
            > tr:first-child {
                border-top-left-radius: ($panel-border-radius - 1);
                border-top-right-radius: ($panel-border-radius - 1);

                td:first-child,
                th:first-child {
                    border-top-left-radius: ($panel-border-radius - 1);
                }
                td:last-child,
                th:last-child {
                    border-top-right-radius: ($panel-border-radius - 1);
                }
            }
        }
    }
    // Add border bottom radius for last one
    > .table:last-child,
    > .table-responsive:last-child > .table:last-child {
        border-bottom-left-radius: ($panel-border-radius - 1);
        border-bottom-right-radius: ($panel-border-radius - 1);

        > tbody:last-child,
        > tfoot:last-child {
            > tr:last-child {
                border-bottom-left-radius: ($panel-border-radius - 1);
                border-bottom-right-radius: ($panel-border-radius - 1);

                td:first-child,
                th:first-child {
                    border-bottom-left-radius: ($panel-border-radius - 1);
                }
                td:last-child,
                th:last-child {
                    border-bottom-right-radius: ($panel-border-radius - 1);
                }
            }
        }
    }
    > .panel-body + .table,
    > .panel-body + .table-responsive,
    > .table + .panel-body,
    > .table-responsive + .panel-body {
        border-top: 1px solid $table-border-color;
    }
    > .table > tbody:first-child > tr:first-child th,
    > .table > tbody:first-child > tr:first-child td {
        border-top: 0;
    }
    > .table-bordered,
    > .table-responsive > .table-bordered {
        border: 0;
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th:first-child,
                > td:first-child {
                    border-left: 0;
                }
                > th:last-child,
                > td:last-child {
                    border-right: 0;
                }
            }
        }
        > thead,
        > tbody {
            > tr:first-child {
                > td,
                > th {
                    border-bottom: 0;
                }
            }
        }
        > tbody,
        > tfoot {
            > tr:last-child {
                > td,
                > th {
                    border-bottom: 0;
                }
            }
        }
    }
    > .table-responsive {
        border: 0;
        margin-bottom: 0;
    }
}

@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border){
    border-color: $border;

    & > .panel-heading {
        color: $heading-text-color;
        background-color: $heading-bg-color;
        border-color: $heading-border;
    
        + .panel-collapse > .panel-body {
            border-top-color: $border;
        }
        .badge {
            color: $heading-bg-color;
            background-color: $heading-text-color;
        }
    }
    & > .panel-footer {
        + .panel-collapse > .panel-body {
            border-bottom-color: $border;
        }
    }
}

// Contextual variations
.panel-default {
    @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.panel-primary {
    @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.panel-success {
    @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.panel-info {
    @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-warning {
    @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.panel-danger {
    @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}




.dk-panel {
    @include scrollbar($scroll-bar-color, $scroll-bar-width);

    .panel-heading {
        padding-top: 6px;
        padding-bottom: 4px;
        .panel-title {
            .collapseicon {
                display: inline-block;
                position: relative;
                left: -5px;

                dk-icon { display: block; }
            }
            .headingtext { }
        }
    }

    .panel-body {
        overflow: auto;
    }

    .panel-footer {
        &.small {
            // font-size is set through bs3
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &.collapse-up {
        overflow: hidden;
    }

    &.collapse-left {
        .panel-heading {
            .panel-title {
                .collapseicon {
                    top: 2px;

                    dk-icon {
                        @include rotate(-90deg, 8px, 8px);
                    }
                }
                .headingtext {}
            }
        }
        overflow: hidden;
    }
}

.panel-primary > header > .collapse-icon > .icon { color: white !important; }

.panel.small-header {
    header {
        padding: 5px 10px;
    }
}

/* wait until we're fully loaded to enable height transitions to prevent
 * flash-of-unstyled-content.
 */
//.dk-fully-loaded .dk-panel {
//    transition-duration: $collapseDuration;
//    transition-property: height;
//}
