
@import "variables";
@import "utils";

$resultWidgetSpace: 2px;
$resultWidgetFilterSize: 180px;
$resultWidgetFilterPadding: 15px;
$resultWidgetDebugColor: darken(darkgreen, 10%);


@mixin dkrs-box {
    position: relative;
    @include box-sizing(border-box);
}

.CheckboxSelectWidget > label,
.RadioSelectWidget > label {
    font-weight: normal;
    display: flex;
    align-items: flex-start;
    input { 
        display: block;
    }
}

#resp-test { display: none }

.ResultSet {
    @include dkrs-box;

    header,
    header + .content { @include dkrs-box; }

    h1 { font-size: 214%; margin-top: 10px; margin-bottom: 10px; }
    h2 { font-size: 171%; margin-top: 0; margin-bottom: 0; }
    h3 { font-size: 129%; margin-top: 0; margin-bottom: 0; }
    h4 { font-size: 110%; margin-top: 0; margin-bottom: 0; }
    h5 { font-size: 86%; margin-top: 0; margin-bottom: 0; }

    .filterdef + .filterdef {
        padding-top: $resultWidgetFilterPadding;
        margin-top: $resultWidgetFilterPadding;
        border-top: 1px dotted #ddd;            
    }
    
    .stats>.tot {
        margin-left: 1ex;
    }

    .filterbx > footer { display: none; }
    
    .DataFilter {
        @include dkrs-box;
        header { }
        .content {
            .filterdef {
                h4 { line-height: 100%; }
                margin-left: -$resultWidgetFilterPadding;
                margin-right: -$resultWidgetFilterPadding;
                
                .filterbox {
                    @include dkrs-box;
                    margin-left: $resultWidgetFilterPadding;
                    margin-right: $resultWidgetFilterPadding;
                          
                    header {
                        h3 {
                            margin-bottom: 5px;
                            //border-bottom: 1px dotted #bbb;
                        }
                    }

                    .content {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .Data {
        @include dkrs-box;
    }

    .PagerWidget {
        @include dkrs-box;
        .pagination > li.ellipsis > span {
            border-top-color: transparent;
            border-bottom-color: transparent;
            background-color: white;
            cursor: default;
        }
    }
}

//.ResultSet.filter-left {
//    .DataFilter {
//        float: left;
//        width: $resultWidgetFilterSize;
//        margin-right: $resultWidgetSpace;
//        display: block;
//    }
//    .Data,
//    .PagerWidget {
//        margin-left: $resultWidgetFilterSize + $resultWidgetSpace;
//    }
//}
//
//.ResultSet.filter-right {
//    .DataFilter {
//        float: right;
//        width: $resultWidgetFilterSize;
//        margin-left: $resultWidgetSpace;
//        display: block;
//    }
//    .Data {
//        margin-right: $resultWidgetFilterSize + $resultWidgetSpace;
//    }
//    .PagerWidget {
//        margin-right: $resultWidgetFilterSize + $resultWidgetSpace;
//    }
//}

@mixin css-debug($color: fade_out($resultWidgetDebugColor, .5)){
    font-size: 9px;
    color: white;
    background-color: $color;
    position: absolute;
    display: block;
    z-index: 200;
    //top:0; left: 0;
    right: 0; top: 0;
}

@mixin debug-box($content: "XXX-missing-content", $color: blue){
    padding-top: 10px;
    margin: 4px;
    outline: 1px dotted $color;
    &::before { content: $content; @include css-debug(fade_out($color, .4)); }
}


.debug {
    .ResultSet {
        @include debug-box(".ResultSet");

        .DataFilter {
            @include debug-box(".ResultSet > .DataFilter", green);

            header {
                @include debug-box(".DataFilter > header");
            }
            &>.content {
                @include debug-box(".DataFilter > .content");
                .filterbox {
                    @include debug-box(".content > .filterbox", red);
                    header {
                        @include debug-box(".filterbox > header");
                    }
                    .content {
                        @include debug-box(".filterbox > .content");
                    }
                }
            }
        }

        .Data,
        .PagerWidget {
            float: left;
            width: #{"calc(100% - 180px - 16px)"};
        }
        .Data           { @include debug-box(". ResultSet > . Data"); }
        .PagerWidget    { @include debug-box(".ResultSet > .PagerWidget"); }
    }
}

.table .record_change {
    background-color: lighten($brand-success, 30%);
    transition: background-color 1s;
}
.table .record_change_done {
    background-color: $body-bg;
    transition: background-color 1s;
}
